*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(17, 88, 44);
    align-items: center;
    justify-content: center;
}

.form{
    text-align: center;
    padding: 20px;
}

.form img{
    max-width: 300px;
    width: 30%;
}


.form input{
    width: 100%;
    height: 35px;
    border: 1px solid;
    margin: 10px auto;
    max-width: 500px;
    display: block;
    border-radius: 15px;
    font-size: 12px;
    text-align: center;
}


.form input[type=submit]{
    background-color: white;
    cursor: pointer;
}